// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

nav.navbar {
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
    height: 60px;
}
.top-header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
}
.main-content {
	margin-top: 100px;
}